* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.banner {
    height: 80vh;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 34.74% 0%;
    background-image: url(./images/hero-bg.jpg);
}

header h4 {
    font-size: 3.75rem;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    color: #ffffff;
    font-family: Roboto,sans-serif;
}
header h1 {
    font-size: 6rem;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
header .border-line {
    height: 11px;
    transform-origin: left center;
    margin: 30px auto 0 0;
    background: white;
}
.height-space {
    height: 7rem;
}
.banner-text {
    padding-left: 3rem;
}

/*Best Quality*/
.best-quality {
    background: url("./images/best-quality-bg.jpeg");
}
.best-quality-image {
    max-width: 100%;
    height: auto;
}
.best-quality h2 {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    margin: 135px 0 0;
    color: #104e92;
}
.best-quality .line {
    border-color: #e71a23;
    background: #e71a23;
    height: 9px;
    transform-origin: left center;
    border-style: solid;
    margin: 30px auto 0 0;
}
.best-quality p {
    font-size: 1.25rem;
}

/*Services*/
.services-text-icon {
    padding-top: 30px;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 0;
    color: white;
}
.services-text-icon h5 {
    margin-top: 2rem;
}

/*Our Services section*/
.our-services {
    color: #111111;
    background-color: #f2f2f2;
}
.our-services h5 {
    color: #999999;
    letter-spacing: 2px;
}
.our-services p {
    margin: 30px auto 0;
}
.our-services button, .best-quality button {
    color: #ffffff;
    background-color: #e71a23;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    margin: 30px auto 60px;
    padding: 16px 36px;
}
.our-services button:hover {
    color: #ffffff;
    background-color: #d1161e;
}

/*Our services 2*/
.our-service-2 {
    color: #111111;
}
.our-service-2 h1{
    font-size: 3.125rem;
    font-weight: 700;
}
.our-service-2 img {
    width: 200px;
    margin-left: -3rem;
}
.our-service-2 p {
    font-size: 1.125rem;
    font-style: italic;
    margin: 20px 0 0;
}
.our-service-2 h4 {
    font-weight: 700;
    margin: 20px 0 0;
}

/*ABOUT US*/
.about-us {
    color: #ffffff;
    background-color: #104e92;
}
.about-us h3{
    font-size: 6rem;
    /*margin: 10px 0 0;*/
}
.about-us h6 {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}
.about-us img {
    max-width: 230px;
    height: 180px;
}

/*TODO section*/
.todo-section {
    font-size: 1.875rem;
    font-weight: 300;
    margin: 30px 0 0;
}
.todo-section button {
    color: #ffffff;
    background-color: #e71a23;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    padding: 16px 53px 16px 52px;
}
.todo-section button:hover {
    color: #ffffff;
    background-color: #d1161e;
}
.todo-section .white-button {
    border: 1px solid #454545;
    color: #454545;
    background-color: transparent;
}
.todo-section h2 {
    font-weight: 700;
}


@media (max-width: 767px) {
    .banner {
        background-position: 81.49% 50%;
        background-image: url(./images/hero-bg.jpg);
    }
    .height-space {
        margin-top: 20rem;
    }
    header h4 {
        font-size: 2.25rem;
    }
    header h1 {
        font-size: 3.625rem;
    }
    /*Abouts us*/
    .about-us h3 {
        font-size: 3.75rem;
    }
    .about-us h6 {

    }
    .about-us img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}
